

#instafeed img{
    padding :6px;
    width :24%;
    opacity: 1;
    filter:alpha(opacity=100);
}
#instafeed img:hover{
    opacity: 0.8;
    filter:alpha(opacity=80);
}

#instafeed{
	/*text-align: center;*/
	margin-left:4%;

}

#column li{
	width:15%;
}

#column a{
	text-align: center;
}

#column a:link{
	color: rgb(178,178,178);
}

#column a:hover{
	color: rgb(0,66,99);
}

#pinterest_account,#twitter_account,#facebook_account,#instagram_account{
	height:200px;
	width:100%;
	border-bottom: 2px solid rgb(178,178,178);
	background-color: rgb(255,255,255);
}

.social_label{
	margin-left: 6%;
	font-size: 16px;
	padding-top: 2%;
}

.social_label i{
	color:rgb(0,66,99);
}

.change_pwd, #pinit_addtag,#facebook_addtag,#twitter_addtag,#ins_addtag{
	color:rgb(137,137,137);
	margin-left: 20%;
	font-size: 16px;
}

.change_pwd a:link,.change_pwd a:visited, .change_pwd a:hover, .change_pwd a:active{
	color:rgb(137,137,137);
}

#pinit_input,#twitter_input,#facebook_input,#ins_input{
	margin-left: 5%;
}


.social_title{
	text-align: right;
	background:rgb(255,255,255);
	height:40px;
	line-height: 40px;
	border-bottom: 1px solid rgb(232,232,232);

}

#ins_content{
	float:left;
}

#pop_instagram{
	height:700px;
	/*border:1px solid rgb(178,178,178);*/
	width:30%;
	background-color: #FFFFFF;
	float: left;
}

#strength_content{
	/*visibility:hidden;*/
	display:block;
	/*visibility:visible;*/
}
 .comment_name{
 	font-weight: bold;
 	font-size: 14px;
 }

 #ins_comment,#ins_title{
 	font-weight:normal;
 	font-size: 16px;
 	margin-top: 10px;
 	margin-left: 10px;
 }

 #comment_content{
 	font-weight: noraml;
 	font-size:14px;
 	margin-top:10px;
 	margin-left: 10px;
 }
 .comment_name p{
 	font-weight: normal;
 }

 #ins_username{
 	margin-top: 10px;
 	font-size: 20px;
 	color:rgb(0,66,99);
 	margin-left: 10px;
 }

 #ins_cover{
 	background-color: #FFFFFF;
 	width:100%;
 }
